<script type='text/javascript'>
var viewModel = {
  id: '{{id}}',
  username: '{{username}}'
};
</script>
<a href="/workout">See your routine</a>

<div id='allexercises' className = "container"></div>
<script src="/build/build.js" type="text/javascript" charset="utf-8" async defer></script>
