{{title}}

<h2>Login</h2>


<form action="/accounts/login" method="post">
  <p><input type="text" name="username" placeholder="username"></p>
  <p><input type="password" name="password" placeholder="password"></p>
  <p><button type="submit">Login</button></p>
</form>

<h2> Register </h2>

<form action="/accounts/register" id="registerForm" method="post">
  <p><input type="text" name="username" placeholder="username"></p>
  <p><input type="password" name="password" placeholder="password"></p>
  <p><button id="registerButton" type="submit">Register</button></p>
</form>

