body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: #00B7FF;
}

.lifts {
  border: 1px dotted black;
  border-radius: 5px;
  margin-bottom: 1%;
  padding: 1%;
  padding-top: 2%;
  height: 23rem;
}

.lifts a:hover{
  background-color: #CACACA;
}

.workoutModule{
  border: 1px solid black;
  margin-bottom: 2%;
  padding: 1%;
  height: 23rem;
}

.workoutModule:hover{
  background-color: #C4C4C4;
}


textarea{
  outline: none;
}

.liftName{

}

.userName{

}

.liftDesc{

}

.addToButton{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.addToButton:hover{
  font-weight: bold;
  background-color: green;
}

.addToButton:visited{
  color: red;
}

.addToButton:active{
  color: #7B7B7B;
}



.lifts a:active{
  background-color: red;
}

.lifts a:visited{
  background-color: red;
}


@media only screen and (min-width: 736px) {
  .mobile-hide {
    display: inherit;
  }
  #container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .recipe {
    width: 48%;
  }
}
@media only screen and (min-width: 1000px) {
  .recipe {
    width: 32%;
  }
}
@media only screen and (min-width: 1600px) {
  .recipe {
    width: 19%;
  }
}


