body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  color: #00B7FF;
}

.lifts {
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 1%;
  padding: 1%;
  padding-top: 2%;
  height: flex;
}

.lifts:hover{
  background-color: #CACACA;
}

.liftName{

}

.userName{

}

.liftDesc{

}

.addToButton{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.addToButton:hover{
  font-weight: bold;
}
